<!--右侧部分开始-->

    <div class="row border-bottom" style="height:51px;" >
        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0;height:50px;">
            <div class="navbar-header" style="width:35%;">
            
            	<a class="navbar-minimalize minimalize-styl-2 btn btn-info " style="font-size: 12px;margin-top: 10px;" href="#">
            		<i class="fa fa-bars"></i> 
            	</a>
                
            </div>
            <ul class="nav navbar-top-links navbar-right" style="height:50px;">
            	<li class="dropdown" style="height:50px;">
                    <a class="dropdown-toggle count-info" style="height:50px;" data-toggle="dropdown" href="#">
                        <img alt="image" class="img-circle" style="width: 28px;" src="resources/img/a7.jpg">
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> 个人信息
                                    <!-- <span class="pull-right text-muted small">4分钟前</span> -->
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-qq fa-fw"></i> 退出系统
                                    <!-- <span class="pull-right text-muted small">12分钟钱</span> -->
                                </div>
                            </a>
                        </li>
                        <!-- <li class="divider"></li>
                        <li>
                            <div class="text-center link-block">
                                <a class="J_menuItem" href="#">
                                    <strong>查看所有 </strong>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </li> -->
                    </ul>
                </li>
            </ul>
        </nav>
    </div>

<!--右侧部分结束-->