<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cms.core.commerce.transaction.dao.CommodityTrialUserDao">
	<resultMap type="com.cms.core.commerce.transaction.domain.CommodityTrialUserDto" id="rs_commodityTrialUser">
		<result property="commodityTrialId" column="commodity_trial_id" javaType="long" jdbcType="INTEGER" />
		<result property="userId" column="user_id" javaType="long" jdbcType="INTEGER" />
		<result property="applyTime" column="apply_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
		<result property="isWin" column="is_win" javaType="int" jdbcType="INTEGER" />
		<result property="status" column="status" javaType="int" jdbcType="INTEGER" />
		<result property="lastModified" column="last_modified" javaType="java.util.Date" jdbcType="TIMESTAMP" />
		<result property="addressId" column="address_id" javaType="java.lang.String" jdbcType="VARCHAR" />
	</resultMap>

	<select id="findById" parameterType="long" resultMap="rs_commodityTrialUser">
		SELECT 
			id, commodity_trial_id, user_id, apply_time, last_modified, status, is_win, address_id
		FROM commodity_trial where id = #{id}
	</select>

	<select id="findListByParams" parameterType="java.util.Map" resultType="java.util.HashMap">
		select ctu.id as id,
			ul.name as "userName",
			o.consignee as "consignee",
			o.mobile as "mobile",
			o.address as "address",
			o.zip_code as "zipCode",
			o.status as "status",
			o.creation_time as "creationtime",
			o.order_no as "orderNo",
			ctu.is_win as "isWin"
		from commodity_trial_user ctu
		left join user_login ul
			on ctu.user_id = ul.id  
		left join orders o
			on o.order_no = ctu.order_no 
		where ctu.status = 1
		<if test="trialId !=null and trialId != 0">
			and ctu.commodity_trial_id = #{trialId}
		</if>
		<if test="id !=null and id != 0">
			and ctu.id = #{id}
		</if>
		
		<if test="sort!=null and sort!=''">
			order by #{sort}
			<if test="order!=null and order!=''">
				#{order}
			</if>
		</if>
	</select>

	<update id="delete" parameterType="long">
		update commodity_trial_user set status = '5' where id = #{id}
	</update>

	<update id="update" parameterType="com.cms.core.commerce.transaction.domain.CommodityTrialUserDto">
		update commodity_trial_user set 
		<if test="isWin !=null and isWin != 0">
			is_win = #{isWin},
		</if>
		<if test="status != null and status != 0">
			status = #{status},
		</if>
		last_modified = now(),
		id = id
		 where id=#{id}
	</update>
</mapper>